<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="static/style.css">
    
    <title>Portofolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap"
      rel="stylesheet"
    />

    
  </head>
  <body>
     <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <div class="container">
        <a class="navbar-brand ms-5" href="#">M Adityo K</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#Home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#carouselExampleDark">Profile</a >
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#port">Portofolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- end navbar -->

    <!-- Home -->
    <div class="jumbotron text-center" id="Home">
        <img src="static/me.png" alt="" width="200" class="rounded-circle img-thumbnail">
      <h1 class="display-4">Muhammad Adityo Kusumawardhana</h1>
      <p class="lead">
        Mahasiswa Prodi informatika Dari Universitas Ahmad Dahlan
      </p>
      <div class="mybutton">
        <a class="btn btn-outline-dark" href="https://github.com/Adityo4" ><img src="static/github-mark.png" alt="" class="image">Github</a>
        <a class="btn btn-outline-dark" href="https://www.linkedin.com/in/muhammad-adityo-kusumawardhana-b9740b246"><img src="static/LI-In-Bug.png" alt="" class="image">Linkedin </a>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#273036" fill-opacity="1" d="M0,64L60,64C120,64,240,64,360,96C480,128,600,192,720,197.3C840,203,960,149,1080,106.7C1200,64,1320,32,1380,16L1440,0L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
    </div>
    <!-- Home -->

    <!-- about me -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#273036" fill-opacity="1" d="M0,160L40,144C80,128,160,96,240,90.7C320,85,400,107,480,128C560,149,640,171,720,170.7C800,171,880,149,960,128C1040,107,1120,85,1200,74.7C1280,64,1360,64,1400,64L1440,64L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path></svg>
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-inner" >
        <div class="carousel-item active" data-bs-interval="0" id="slide0">
          <div class="container"  >
            <div class="row text-center">
                <h2 >About me</h2 >
                <p>Nama Saya Muhammad Adityo Kusumawardhana Biasa Dipanggil Tyo Saya adalah Mahasiswa Prodi informatika dari Universitas Ahmad Dahlan Semester 5 , 
                  memiliki pengalaman menggunakan bahasa pemrograman PHP, Javascript , Java . </p>
    
                  <p>Saat Ini sedang Menjalani Program Kampus Merdeka Studi Independen Di LearningX. Yang Dilaksanakan Dari Bulan Agustus Sampai Bulan Desember.</p>
            </div>
          </div>
        </div>
        <!-- pendidikan -->
        <div class="carousel-item" data-bs-interval="0" id="slide1">
          <div class="container">
            <div class="row text-center">
              <h2>Education</h2>
              <div class="list-group">
                <a  class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Universitas Ahmad Dahlan | Saat ini</h5>
                  </div>
                  <p class="mb-1">Jurusan Informatika 
                    IP Kumulatif saat ini : 3.51/4.00 </p>
                </a>
                <a  class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">SMAN 2 TAMBUN UTARA | 2018-2021</h5>
                  </div>
                </a>
                <a  class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">SMPN 3 BEKASI | 2015-2018</h5>
                  </div>
                </a>
                <a  class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">SDN BEKASI JAYA 5 | 2009-2015</h5>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- pendidikan -->
      </div>
      
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#273036" fill-opacity="1" d="M0,64L60,64C120,64,240,64,360,96C480,128,600,192,720,197.3C840,203,960,149,1080,106.7C1200,64,1320,32,1380,16L1440,0L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
    <!-- about me -->

    
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#273036" fill-opacity="1" d="M0,160L40,144C80,128,160,96,240,90.7C320,85,400,107,480,128C560,149,640,171,720,170.7C800,171,880,149,960,128C1040,107,1120,85,1200,74.7C1280,64,1360,64,1400,64L1440,64L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path></svg>
    <div class="container">
    
  </div>

    <!-- Portofolio -->
      <div class="row text-center" id="port">
        <h2>Portofolio</h2>
        </div>

     <div class="mycard">
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card h-100">
            <img
            src="static/github-mark.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Website Laundry [Tugas Besar]</h5>
            <p class="card-text">
              <li>
              website yang digunakan untuk Pesan Jasa Laundry
              </li>
              <li>
                Implementasi HTML , CSS , PHP pada website
              </li>
              <li>
                Implementasi Javascript pada website
              </li>
            
            </p>
            <a href="https://github.com/Adityo4/Responsi-Pweb-2100018371.git" class="btn btn-dark">Code</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              src="static/github-mark.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Program Inventaris Kantor</h5>
              <p class="card-text">
                <li>
                  Implementasi Pemrograman Java dasar untuk membuat program inventaris Kantor.
                </li>
                <li>
                  Implementasi Object Oriented Programming Java
                </li>
              
              </p>
              <a href="https://github.com/Adityo4/InventarisKantor.git" class="btn btn-dark">Code</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              src="static/github-mark.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Website Portofolio Mahasiswa [Tugas Besar]</h5>
              <p class="card-text">
                <li>
                  Dapat Melakukan Redirect Url Menggunakan PHP
                </li>
                <li>
                  Implementasi HTML , CSS , PHP pada website
                </li>
                <li>
                  Implementasi Javascript pada website
                </li>
              </p>
              <a href="https://github.com/Adityo4/TA-PWEB.git" class="btn btn-dark">Code</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              src="static/github-mark.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Aplikasi Toko Online [WIP]</h5>
              <p class="card-text">
                <li>
                  Menggunakan Laravel Framework
                </li>
                <li>
                  Menggunakan Adminer Untuk Melakukan Manage Database
                </li>
              
              </p>
              <a href="https://github.com/Adityo4/E-Commerce-Back-End.git" class="btn btn-dark">See my Progress</a>
            </div>
          </div>
        </div>
      </div>
     </div>
     

    <!-- Portofolio -->
    
    
    <!-- footer & contact -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#273036" fill-opacity="1" d="M0,64L60,64C120,64,240,64,360,96C480,128,600,192,720,197.3C840,203,960,149,1080,106.7C1200,64,1320,32,1380,16L1440,0L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
    <div class="footer">
      <div class="kontak" id="contact">
        <h5>Contact Me</h5>
        &nbsp;
        <p>HP : 085172341753</p>
      <p>Email : <a href = "mailto: mysticadityo@gmail.com">mysticadityo@gmail.com</a></p>
      <p>My social media</p>
        <p style="margin-top: 10px;"> <a href="https://instagram.com/wutde111?utm_source=qr&igshid=OGIxMTE0OTdkZA=="> <img src="static/insta.webp" alt="" height="50px" width="50px"></a>
          <a href="https://www.facebook.com/muhammad.a.kusumawardhana" style="margin-left: 20px;"> <img src="static/fb.png" alt="" height="50px" width="50px"></a>
          <a href="https://steamcommunity.com/profiles/76561198866335422" style="margin-left: 20px;"> <img src="static/Steam.png" alt="" height="50px" width="50px"></a>
        </p>
      </div>
      
      <p class="port" style="margin-top: 50px;">Portofolio Muhammad Adityo Kusumawardhana @ 2023</p>
    </div>
    <!-- footer&contact -->

   <!-- JavaScript for smooth scrolling -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    

    
  </body>
</html>

